# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible

!inventory/
inventory/*
!inventory/inventory-example-client.yml
!inventory/inventory-example-server.yml

!playbooks/
playbooks/*

!playbooks/pre-tasks.yml

!playbooks/vars/
playbooks/vars/*
!playbooks/vars/default-example.yml

!plugins/
plugins/*
# !plugins/mitogen-0.2.9/

!playbooks/README.md
!playbooks/playbook-s-*.yml
!playbooks/playbook-sec-short.yml
!playbooks/playbook-client-dev.yml
!playbooks/playbook-client-pentest.yml
!playbooks/playbook-client-vm.yml
!playbooks/playbook-client.yml
!playbooks/playbook-server-cluster.yml
!playbooks/playbook-server-dev.yml
!playbooks/playbook-server-minimal.yml
