# Ignore .hidden files
.*
# Ignore everything
*

!.github/
!.github/**

!.gitattributes
!.gitignore
!.gitempty
!.gitmodules

!CONTRIBUTING.md
!LICENCE
!SECURITY.md

!README.md

!.pre-commit-config.yaml
!.prettierrc.yml
!.yamllint

### Ansible ###
*.retry
!ansible.cfg

# ADD more
!.ansible-lint
!requirements.txt
!requirements.yml

!inventory/
inventory/*
!inventory/inventory-example-client.yml
!inventory/inventory-example-server.yml

!playbooks/
playbooks/*

!playbooks/pre-tasks.yml

!playbooks/vars/
playbooks/vars/*
!playbooks/vars/default-example.yml

!playbooks/README.md
!playbooks/playbook-s-*.yml

!playbooks/playbook-sec-short.yml

!playbook-client-n-normal.yml
!playbook-client-n-extended.yml

!playbooks/playbook-client-dev.yml
!playbooks/playbook-client-pentest.yml
!playbooks/playbook-client-vm.yml
!playbooks/playbook-client.yml

!playbooks/playbook-server-cluster.yml
!playbooks/playbook-server-dev.yml
!playbooks/playbook-server-minimal.yml

!roles/
!roles/*

!docs/
docs/*
!docs/*.png
!docs/*.excalidraw
