---
# playbook client

# ------------------------------------------------------------------------------
- name: HARDENING PLAYBOOKS
  ansible.builtin.import_playbook: playbook-sec-short.yml

# ------------------------------------------------------------------------------
- name: Server installer
  remote_user: "{{ ansible_user }}"
  hosts:
    - clients
  roles:
    ### -------------------------
    - role: ansible-install-server
      clients: "{{ pl_a_clients }}"
      install_server_service_name: "{{ pl_a_service_name }}"
      install_server_config:
        # APT -------------------------------
        apt_base: true
        apt_duf: true
        apt_eza: true
        apt_bat: true
        apt_auth_priv: true
        apt_cert: true
        apt_archive: true
        apt_dev: true
        apt_snap: true
        apt_qemu_guest_agent: true
        apt_latex: true
        apt_pandoc: true
        apt_nmap: true
        # SNAP ----------------------------------
        snap_btop: true
        # OTHER --------------------------------
        inst_git_conf: true
        inst_fonts: true
        # PYTHON --------------------------------
        apt_python: true
        apt_python_pip: true
        apt_python_venv: true
        apt_python_dev: true
        pip_pre_commit: true
        pip_ansible: true

# ------------------------------------------------------------------------------
- name: Client installer
  remote_user: "{{ ansible_user }}"
  hosts:
    - clients
  roles:
    ### -------------------------
    - role: ansible-install-client
      clients: "{{ pl_a_clients }}"
      install_client_service_name: "{{ pl_a_service_name }}"
      install_client_distribution_key_use_modern_sources: "{{ pl_a_apt_modern_src | default(false)}}"
      install_client_config:
        # GNOME ---------------------------------
        gnome_gui_setup: true
        gnome_gui_setup_overlay: true
        gnome_terminal_setup_overlay: true
        # APT -----------------------------------
        apt_base: true
        apt_auth_priv: true
        apt_archive: true
        apt_snap: true
        apt_flatpak: true
        # DPKG ----------------------------------
        dpkg_veracrypt: true
        # SNAP ----------------------------------
        snap_chromium: true
        snap_firefox: true
        snap_onlyoffice: true
        snap_remmina: true
        # FLATPAK -------------------------------
        flatpak_zed: true
        flatpak_flatseal: true
        # OTHER -------------------------------
        firefox_setup: true

# ------------------------------------------------------------------------------
- name: Container installer
  ansible.builtin.import_playbook: playbook-s-container.yml
